/*css reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*utilities*/

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*generic*/

header {
    height: 80px;
    background-color: orangered;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px;
}