/*css reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*utilities*/

.container {
    max-width: 1100px;
    margin: 0 auto;
}

/*generic*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 80px;
    background-color: #FF6900;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px;
    z-index: 1;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-left: 5px;
    color: white;
    font-weight: bold;
}

/*header*/

.navbar {
    height: 80px;
    display: flex;
    align-items: center;
}

.navbar > * {
    flex-basis: 25%;
}

.navbar-logo {
    flex-grow: 1;
    text-align: center;
    height: 40%;
}

.navbar-basket {
    text-align: right;
}

.navbar-basket > i {
    margin-left: 5px;
    color: white;
}
/*main*/

main {
    padding-top: 120px;
}

.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    gap: 10px;
}

.col {
    flex-basis: calc(100% / 3 -10px / 3);
}

img {
    height: 100%;
}

.brand {
    font-size: smaller;
}

.prod-name {
    font-weight: 600;
}

.price {
    font-weight: 600;
    color: red;
}

.disc-price {
    color: black;
    text-decoration: line-through;
}

.card {
    height: 500px;
    position: relative;
    display: inline-block;
}

.favourite {
    font-size: 3em;
    background-color: white;
    padding: 2px 5px;
    position: absolute;
    top: 5px;
    right: 0;
}

.discount {
    font-weight: 600;
    color: white;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: 30px;
    padding: 5px;
}

.sostenibility {
    font-weight: 600;
    color: white;
    background-color: green;
    position: absolute;
    left: 50px;
    bottom: 30px;
    padding: 5px;
}

/*hover*/

.card:hover img[alt="levi's - relaxed"]{
    content: url(../img/1b.webp);
}

.card:hover img[alt="guess - roses"]{
    content: url(../img/2b.webp);
}

.card:hover img[alt="come zucchero filato - pastello"]{
    content: url(../img/3b.webp);
}

.card:hover img[alt="levi's - tee"]{
    content: url(../img/4b.webp);
}

.card:hover img[alt="maya - tripe bodice"]{
    content: url(../img/5b.webp);
}

.card:hover img[alt="esprit - maglione"]{
    content: url(../img/6b.webp);
}

.favourite:hover {
    color: red;
}